a{
    color: orange;
    text-decoration: none;
}

a:hover{
    color: white;
    transition: color 0.5s;
}

.menu {
    position: fixed;
    width: 100%;
    background-color: #7e7ec74a;
    padding: 10px;

    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 10;
}

.logo{
    color: orangered;
    font-size: 26px;
}
.menu_item{
    margin: 0 10px;
    display: inline-block;     /* margin: "top-bottom" és "left-right" marginja az objektumnak*/
}