.details_layout{
    padding: 20px;
    display: flex;
}

.detail_photo{
    width: 100%;
    border-radius: 10px;
}

.photo_details_text_layout{
    position: sticky;
    top: 30px;
}

.photo_title{
    width: 25px;
    color: white;
    margin-bottom: 20px;
}

.comment{
    padding: 0px 30px;
}

.date{
    display: flex;
    justify-content: flex-end;
    width: 100%;
    margin-top: 30px;
    color: rgba(255, 255, 255, 0.51);
}