<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Photo Studio {% block title %}{%endblock title%}</title>
    <link href="https://fonts.googleapis.com/css?family=Noto+Sans+JP&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/8217913a6b.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href='{% static "css/main.css" %}'>
    <link rel="stylesheet" href='{% static "css/mobile.css" %}'>
</head>
<body>
    {% include '_menu.html' %}

    <div class = "content_box">
        {% block body %}
        {% endblock body %}
    </div>

    {% block footer %}
    {% endblock footer %}
</body>
</html>