<div class="menu">              <! class: element attributuma, amire css-ben hivatkozol >
    <a href="{% url 'home' %}" class="logo menu_item"><i class="fas fa-camera"></i> Home</a>

    <div>
        <a href="{% url 'gallery' %}"class="menu_item"><i class="far fa-images"></i> Gallery</a>
        <a href="{% url 'services' %}"class="menu_item"><i class="fas fa-suitcase"></i> Services</a>
        <a href="{% url 'contact' %}"class="menu_item"><i class="fas fa-envelope"></i> Contact</a>
        <a href="{% url 'about' %}"class="menu_item"><i class="fas fa-address-card"></i> About</a>
    </div>

</div>
